<html>

<head>
<script>
document.addEventListener("DOMContentLoaded", () => {
console.log('Hello, World!')
document.getElementById('forma').addEventListener('submit', (event) => form_submit(event))
})
var logn = 'admin';
var pass = 'admin'
var a = 0;
function button_plus() {
const elem = document.getElementById('Result')
a++;
console.log(a)
elem.innerText = 'Результат: ' + a;
}
function button_minus() {
const elem = document.getElementById('Result')
a--;
console.log(a)
elem.innerText = 'Результат: ' + a;
}
function form_submit() {
var login = document.getElementById("login").value;
var password = document.getElementById("password").value;

if (login === "admin" && password === "admin") {
alert("Вы авторизированы!");
} else {
alert("Логин или пароль не совпадают!");
}
}
</script>
</head>
<body>
<h1>
Домбровский Сергей Витальевич
</h1>
<button onclick='button_plus()'>Прибавить</button>
<button onclick='button_minus()'>Вычесть</button>
<p id='Result'></p>
<form id='forma' onsubmit="form_submit()">
<div>
<label for="usrname">Введите логин</label>
<input type="text" name='login' id="login">
</div>
<div>
<label for="psw">Введите пароль</label>
<input type="text" name='password' id="password">
</div>
<div>
<input type='reset' value='Очистить'>
<input type='submit' value='Отправить'>
</div>
</form>
</body>
</html>
